* {
    
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }

    html {
        font-family: "Open Sans";
    }
    header {
        padding: 30px;
    }
    h1 {
    text-align: center;
    }
    #field {
        width: 50%;
        margin: 0 auto;
        padding-left: 10%;
        
        
    }
    form  {
    width: 70%;
    margin: 0 auto;
    background: url(assets/bg.png);
    border-style: solid;
    border-color: #707070;
    border-bottom-color: transparent;
    border-width: 1px;
    max-width: 800px;
    }
    
    .box {
    padding: 0.5rem;
    
    }

    hr {
      float: top;
    
    }
   
    #submit {
        color: #ffffff;
        background-color: #08B1EB;
        width: 100%;
        height: 70px;
        border-radius: 6px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        
 
   }

   #buttonArea {
       margin: 0 auto;
       padding-bottom: 28px;
       padding-top: 30px;
       width: 300px;
       
       
       

   }
/*Form Styling Modifications*/
.space {
    display: table-row;
    min-height: 1px;
    width: 100%;
    
}  

.row {
    display: table-row;
    width: 100%;
    border-bottom:1pt solid black;
    }
    
   #space{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
   }
.tireSize {
    width: 60px;
    }
#transGearRatio {
        width: 80px;
    }
    #topBox {
        color: #ffffff;
        background-color: #011b23;
        text-align: center;
        padding: 20px;
        width: 70%;
        margin: 0 auto;
        max-width: 800px;
    }
    label {
    display: table-cell;
    text-align: left;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 18px;
   
    
    
    }
    
    input {
        width: 90px;
        height: 40px;
        
    }
    select {
    display: inline-block;
    width: 90%;
    height: 40px;
    
    
    }
    /*End Form Styling*/
    
    #polygon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    #results {
        
        background-color: #ffffff;
        border-style: solid;
        border-color: #707070;
        border-top-color: #ededed;
        border-top-color: none;
        border-width: 1px;
        padding-bottom: 30px; 
        max-width: 800px;
        margin: auto;
       
        
    }
    
    #resultsLabel {
        padding-top: 20px;
        font-weight: bold;
        font-size: 20px;
        color: #707070;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    #resultsFields {
        margin: 0 auto;
        width: 50%;
        
        
    }

   

  
   
    
    #triangle {
        margin: 0 auto;
        width: 0; 
        height: 0; 
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-top: 30px solid #EDEDED;
      }
 
    
    
    
    input:required:invalid, input:focus:invalid {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
    background-position: right top;
    background-repeat: no-repeat;
    -moz-box-shadow: none;
    }
    
    input:required:valid {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
    background-position: right top;
    background-repeat: no-repeat;
    }
    

  
    @media only screen and (max-width: 599px) {
    #field {
    width: 80%;
    padding-left: 30px;
    
        }
    
    label {
    display: block;
    
    }
    #topBox {
        width: 100%;
    }
    form {
        width: 100%;
        background-image: url("assets/bgMobile.png");
        background-repeat: no-repeat;
    }
    #buttonArea {
        width: 70%;
    }
    #results {
        width: 100%;
        padding-left: 30px;
    }
}

    @media only screen and (min-width: 600px) and (max-width: 1295px) {
        h1 {
            text-align: center;
        }
        
        #field {
            width: 80%;
            
        }
        
        form {
            width:850px;
            margin: 0 auto;
            
        }
        #topBox {
            width: 850px;;
        }
        label {
            padding-left: 2%;
        }
        #results {
            width: 1702px;
            
            
        }
        #resultsFields {
            padding-left: 10%;
        }
    }

    @media only screen and (min-width: 1296px) {
        #field {
            width: 80%;
            
        }
        
        form {
            width:850px;
        
            
            
        }
        #topBox {
            max-width: 800px;
        }
        
        
        #resultsFields {
           text-align: center;
        }
        .resultField {
            width: 200px;
        }
        label {
            padding-left: 2%;
        }
    }